<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    where developers and entrepreneurs can meet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, voluptate, aspernatur quas rem commodi officiis eaque natus dolore fugiat cum dicta et excepturi sint ipsum ratione minus itaque. Odio, eveniet?</p>
</div>